In [5]:
import requests
import urllib
import pandas as pd

In [6]:
# USGS Elevation Point Query Service
url = r'https://nationalmap.gov/epqs/pqs.php?'

In [11]:
data = pd.read_csv("harvey_highwater_incidents_FINAL.csv")

In [12]:
data.columns

Index(['ROADWAY_NAME', 'TXDOT_ROADWAY_DIRECTION', 'LATITUDE_IB_CW',
       'LATITUDE_OB_CCW', 'LONGITUDE_IB_CW', 'LONGITUDE_OB_CCW', 'COUNTY_NAME',
       'TOTAL_MINUTES', 'ENTER_DATE', 'ENTER_TIME', 'CLEAR_DATE',
       'CLEAR_TIME'],
      dtype='object')

In [13]:
# coordinates with known elevation 
lat = data['LATITUDE_IB_CW']
lon = data['LONGITUDE_IB_CW']

In [15]:
lat.head()

0    29.8085
1    29.6656
2    29.8830
3    29.8830
4    29.6498
Name: LATITUDE_IB_CW, dtype: float64

In [20]:
# create data frame
df = pd.DataFrame({
    'lat': lat,
    'lon': lon
})

In [26]:
def elevation_function(df, lat_column, lon_column):
    """Query service using lat, lon. add the elevation values as a new column."""
    elevations = []
    for lat, lon in zip(df[lat_column], df[lon_column]):

        # define rest query params
        params = {
            'output': 'json',
            'x': lon,
            'y': lat,
            'units': 'Meters'
        }

        # format query string and return query value
        result = requests.get((url + urllib.parse.urlencode(params)))
        elevations.append(result.json()['USGS_Elevation_Point_Query_Service']['Elevation_Query']['Elevation'])

    df['elev_meters'] = elevations

In [27]:
elevation_function(df, 'lat', 'lon')
df.head()

       lat      lon  elev_meters
0  29.8085 -95.1639        10.10
1  29.6656 -95.1558         8.88
2  29.8830 -95.1984        14.32
3  29.8830 -95.1984        14.32
4  29.6498 -95.1562         9.61

In [28]:
df

           lat        lon  elev_meters
0    29.808500 -95.163900        10.10
1    29.665600 -95.155800         8.88
2    29.883000 -95.198400        14.32
3    29.883000 -95.198400        14.32
4    29.649800 -95.156200         9.61
5    29.808500 -95.163900        10.10
6    29.939600 -95.303400        21.48
7    29.939200 -95.331300        16.86
8    29.939200 -95.331300        16.86
9    29.939700 -95.296000        18.34
10   29.938700 -95.381200        18.62
11   29.938700 -95.381200        18.62
12   29.938700 -95.381200        18.62
13   29.938700 -95.381200        18.62
14   29.938700 -95.381200        18.62
15   29.939100 -95.397200        25.75
16   29.940500 -95.413800        23.53
17   29.939100 -95.397200        25.75
18   29.938700 -95.381200        18.62
19   29.938700 -95.381200        18.62
20   29.938700 -95.381200        18.62
21   29.938700 -95.381200        18.62
22   29.939600 -95.424600        26.81
23   29.598883 -95.353293        16.02
24   29.598883 -95.353293        16.02
25   29.600908 -95.228645        10.98
26   29.605712 -95.477028        18.66
27   29.605712 -95.477028        18.66
28   29.605712 -95.477028        18.66
29   29.626100 -95.518100        15.50
..         ...        ...          ...
438  29.288660 -94.837930         1.53
439  30.066824 -95.623101        48.23
440  30.080600 -95.990800        73.06
441  30.080600 -95.990800        73.06
442  30.080600 -95.990800        73.06
443  30.063200 -95.908700        84.92
444  29.837900 -95.488800        24.13
445  29.866900 -95.540800        28.08
446  29.900700 -95.599300        36.08
447  29.903100 -95.602600        36.39
448  29.879500 -95.569000        28.51
449  30.057300 -95.891100        81.02
450  29.962900 -95.687800        43.51
451  29.962900 -95.687800        43.51
452  29.832930 -95.175200        11.37
453  29.829700 -95.182400        10.79
454  29.936310 -95.031675        16.09
455  29.601591 -95.684453        24.35
456  29.627269 -95.582700        24.24
457  29.532909 -96.055298        28.80
458  29.532909 -96.055298        28.80
459  29.601591 -95.684453        24.35
460  29.723540 -95.491540        19.49
461  29.726246 -95.462520        16.21
462  29.726293 -95.460380        17.44
463  29.725403 -95.468258        17.50
464  29.721239 -95.520294        19.98
465  29.718322 -95.557403        15.57
466  29.719672 -95.539047        23.10
467  29.726246 -95.462520        16.21

[468 rows x 3 columns]

In [29]:
df.to_csv("Elevations.csv", index = False, header = True)